:root{
    --fondo:#f2f2f2;
    --azul-primario:#5f6ad4;
    --azul-secundario:#7780da;
    --gris-oscuro:#3b3b3b;
    --gris-claro:#909090;
    --texto:#292929;
    --verde:#48b04d;
    --font-size:16px;
    --font-family:'Open Sans', sans-serif;
    --font-family2:'Oswald', sans-serif;
}

/*Generales*/

*{
    padding: 0;
    margin: 0;
}


body{
    background: var(--fondo);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.ad{
    margin-bottom: 1.25em;
    text-align: center;
}


/*Header*/
.logo{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.imagen-logo{
    display: inline-block;
}

.redes-sociales{
    text-align: right;
    line-height: 5em;
}

.redes-sociales a{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    display: inline-block;
    color: #fff;
    margin-left: 1.25em;
}

.youtube{
    background: #c05554;
}

.twitter{
    background: #55acee;
    
}

.facebook{
    background: #3b5998;
}

.instagram{
    background: #FD1D1D;
}

.menu{
    background: var(--azul-primario);
    margin-bottom: 1.25em;
}

.menu ul{
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
}

.menu ul li{
    display: inline-block;
}

.enlaces{
    color: #fff;
    display: inline-block;
    padding: 1em 1.25em;
    font-size: 0.87em;
}

.enlaces:hover{
    text-decoration: none;
    background: var(--azul-secundario);
}

/*main*/
.titulo-seccion h3{
    font-family: var(--font-family2) ;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    color: var(--gris-oscuro);
    padding-bottom: 0.62em;
    border-bottom: 4px solid var(--verde);
    margin-bottom: 1.25em;
}

.titulo-seccion div{
    padding: 0;
}

.posts, .post{
    margin-bottom: 1.875em;
}

.contenedor{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.thumb img{
    width: 100%;
    vertical-align: top;
    height: auto;
}

.info{
    padding: 1.25em;
}

.titulo{
    line-height: 1.125em;
    margin-bottom: 1.125em;
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 0;
}

.titulo a{
    color: var(--gris-oscuro);
}

.fecha{
    color: var(--gris-claro);
    font-size: 0.875em;
    margin-bottom: 1.25em;
}

.extracto{
    color: var(--texto);
    font-size: 1em;
    height: 8.125em;
    max-height:8.125em ;
    margin-bottom: 1.25em;
    overflow: hidden;
}

.extracto:hover{
    overflow: auto;
}

.categorias a{
    color: var(--gris-claro);
    font-size: 1em;
    font-weight: bold;
    margin-right: 1.25em;
}

.categorias a:hover{
    color: var(--azul-primario);
    text-decoration: none;
}

.paginacion ul{
    list-style: none;
    overflow: hidden;
    margin-bottom: 1.25em;
    font-size: 1em;
}

.paginacion li{
    float: left;
    background: var(--gris-oscuro);
    color: #fff;
    margin-right: 0.62em;
    font-size: 1.125em;
    line-height: 1.125em;
}

.disable{
    padding: 0.62em 0.937em;
    font-size: 1.125em;
    line-height: 1.125em;
}

.paginacion a{
    background: var(--azul-primario);
    color: #fff;
    line-height: 1.125em;
    display: inline-block;
    padding: 0.62em 0.937em;
}

.paginacion a:hover{
    background: var(--azul-secundario);
    text-decoration: none;
}

/*aside*/
.widget{
    margin-bottom: 2.5em;
}

.redes-sociales-aside{
    overflow: hidden;
}

.redes-sociales-aside a{
    width: 33.33%;
    padding: 1.25em;
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
    display: inline-block;
}

.redes-sociales-aside a:hover{
    text-decoration: none;
}

.icono{
    width: 100%;
    font-size: 1.875em;
    margin-bottom: 0.5em;
}

.formulario{
    background: #0e2b37;
    padding: 1.25em;
    text-align: center;
}

.formulario label{
    color: #fff;
    margin-bottom: 1.25em;
    display: block;
    font-weight: normal;
}

.enviar{
    color: var(--gris-claro);
    text-align: center;
    padding: 0.625em;
    font-size: 1.125em;
    border-radius: 3px;
    width: 100%;
    border: none;
    margin-bottom: 1.25em;
}

.boton{
    background: var(--verde);
    border-radius: 3px;
    padding: 0.625em 1.875em;
    border: none;
    color: #fff;
}

.contenedor-ad{
    text-align: center;
}

.contenedor-ad a{
    display: inline-block;
}

/*footer*/
footer .menu{
    background: var(--azul-primario);
    margin-bottom: 1.25em;
}

footer .menu ul{
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
}

footer .menu ul li{
    display: inline-block;
}

.copyright{
    background: #000;
}

.copyright p{
    font-size: 0.87em;
    color: #fff;
    padding: 0.625em;
    text-align: center;
    margin: 0;
}

/*Mediaqueries*/
@media screen and (max-width:970px){
    .logo{
        text-align: center;
    }

    .redes-sociales{
        display: none;
    }

    .menu ul{
        text-align: center;
    }

    .menu ul li{
        float: none;
    }

    .extracto{
        height: auto;
    }

    .sidebar{
        display: none;
    }

    footer .menu ul{
        text-align: center;
    }

    footer .menu ul li{
        float: none;
    }

    .paginacion ul{
        text-align: center;
    }

    .paginacion ul li{
        margin-bottom: 1em;
    }
}